<div class="row fullWidth main-picture">
</div>
<div class="row">
  <div class="column small-centered">
    <h1>The Latest Reviews</h1>
  </div>
</div>

<%= render partial: 'reviews/review', collection: @reviews %>
