<%= render 'header' %>

<div class="row small-5 medium-4 large-3 search-field">
  <i class="fi-magnifying-glass"></i>
  <form class="" action="" method="post">
    <input type="search" name="" placeholder="Search...">
  </form>
</div>

<h3 class="tag-line">
  Be Better. Drink Bourbon.
</h3>
