<h1>Bourbon Administration</h1>

<ul>
<% @bourbons.each do |bourbon| %>
  <li>
    <%= link_to bourbon.name, bourbon_path(bourbon) %>
    <br>
    <%= button_to "Delete Bourbon", admin_bourbon_path(bourbon), method: :delete %>
  </li>
<% end %>
</ul>
