/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */

 $gold: #f8a803;
 $bourbon: #9c2706;
 $white: #fff;
 $black: #000;
 $black-transparent: rgba(0, 0, 0, 0);

.full-width {
  margin: 0 auto;
  max-width: initial;
  width: 100%;
}

.top-bar-section ul li a {
  font-size: 1.25rem;
}

.left {
  display: none;
}

.twitter-follow-button {
  display: none;
}

.has-form {
  display: none;
}

// MEDIA QUERIES
//==============================

@media (min-width: 40.063em) {
  .distillery {
    display: table-cell;
  }

  .left {
    display: inline;
    background: black-transparent;
  }

  .twitter-follow-button {
    display: inline;
    position: relative;
    transform: translateY(89%);
  }
}

@media (min-width: 40.063em) and (max-width: 64em) {
  .top-bar-section ul li a {
    font-size: 1.25rem;
  }
}

@media handheld and (orientation: landscape) {
  .stats-header {
    font-size: 2vw;
  }

  .stats {
    div {
      height: 7vw;

      span {
        font-size: 3vw;
      }
    }
  }
}

@media (min-width: 64.063em) {
  .welcome-search-form {
    display: none;
  }

  .has-form {
    display: block;
  }

  #top-bar-search {
    display: block;
  }

  #welcome-search-bar-top {
    border-radius: 0;
    width: 20vh;
  }
}

@media (min-width: 64.063em) and (max-width: 90em) {
  .top-bar-section ul li a {
    font-size: 1.25rem;
  }

  .bourbon-pic {
    height: 40vh;
  }
}

@media (min-width: 90.063em) {
  .top-bar-section ul li a {
    font-size: 1.25rem;
  }

  .bourbon-pic {
    height: 45vh;
  }
}
