$gold: #F8A803;

body {
  background-image: image-url('landing-page-pic.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.top-bar {
  height: 7vh;
  width: 100%;
  background-color: $gold;
}
