<ul class="title-area">
  <li class="name">
    <h1 class="logo"><%= link_to "DBB", root_path %></h1>
  </li>
  <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
</ul>

<section class="top-bar-section">
  <ul class="right">
    <li><%= link_to "Bourbons", bourbons_path %></li>
    <li><%= link_to "Sign In", new_user_session_path %></li>
  </ul>
</section>
